<button mat-icon-button [matMenuTriggerFor]="menu" >
  <i class="material-icons" style="opacity: 0.5;"> more_vert </i>
  </button>
  <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item (click)="deleteNotes()">Delete Note</button>
          <button mat-menu-item [matMenuTriggerFor]="menu1" (click)="getLabel();">Add label</button>
          <mat-menu #menu1="matMenu" yPosition="below" [overlapTrigger]="false"> 
              <button mat-menu-item>
                  <div (click)="$event.stopPropagation()">Label Note</div>
                </button>
              <button mat-menu-item>
                  <div fxLayout="row"><i class="material-icons">search</i><input [(ngModel)]="searchLabel" type="search" class="labelinput" placeholder="Enter label name" (click)="$event.stopPropagation()"></div>
              </button>
              <button mat-menu-item *ngFor="let name of labelList | search:searchLabel">
                    <div fxLayout="row"><span><mat-checkbox (click)="$event.stopPropagation();  check(name,name.id)" [(ngModel)]="name.isChecked" >{{name.label}}</mat-checkbox></span></div>
                </button>
          </mat-menu>
          <button mat-menu-item>Show checkbox</button> 
        </mat-menu>