<!--Mat-toolbar starts-->
<mat-toolbar class="toolbar">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="title">Fundoo</span>
    <button class="search-button" aria-label="Toggle sidenav" mat-icon-button
        aria-label="Toggle sidenav">
        <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
    </button>
    <div class="search" fxShow.xs="false" fxShow.sm="true" fxShow.md="true"
        fxShow.lg="true">


        <input class="search-input" aria-label="Search" autocomplete="off"
            placeholder="Search" value="" name="q" role="combobox" type="text"
            aria-hidden="false" routerLink="Search" [(ngModel)]="message"
            (keyup)="onKeydown($event)">
    </div>





    <div fxLayout="row">
        <div fxLayoutAlign="" fxFlex="100%" class="icons">
            <div class="left_icons" fxFlex="50%">
                <button mat-icon-button aria-label="refresh">
                    <mat-icon aria-label="refresh">refresh</mat-icon>
                </button>

                <button mat-icon-button aria-label="view_agenda" fxShow.xs="false"
                    fxShow.sm="false" fxShow.md="true" fxShow.lg="true">
                    <mat-icon aria-label="view_stream" (click)="viewList()"
                        *ngIf="grid==0">view_stream</mat-icon>
                    <mat-icon aria-label="view_module" (click)="viewGrid()"
                        *ngIf="grid==1">view_module</mat-icon>

                </button>
                <span fxShow.xs="false" fxShow.sm="true" fxShow.md="true"
                    fxShow.lg="true">
                    <button mat-icon-button>
                        <mat-icon aria-label="notifications">notifications</mat-icon>
                    </button>
                </span>

            </div>
            <div class="right_icons" fxFlex="50%">

                <span>

                    <img src="{{img}}" [matMenuTriggerFor]="menu" class="image1">

                </span>
                <mat-menu #menu="matMenu" class="inputFile1" [overlapTrigger]="false" xPosition="after">
                    <div class="signout">
                        <!--Profile-pic upload-->
                        <div fxLayout="row">
                            <span fxLayoutGap="15px">


                                <div class="profilebutton" (click)="$event.stopPropagation()"
                                    [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">


                                 
                                </div>



                            </span>
                            <p class="mail mail1">{{firstname}}</p>

                        </div>

                    </div>

                    <hr>

                    <input type="file" class="inputFile" (change)="onFileSelected($event);$event.stopPropagation()">
                    <!-- <button type="button" (click)="onUpload();$event.stopPropagation()"
                        mat-raised-button color="primary">Upload</button> -->




                    <button class="signup_button" mat-raised-button color="primary"
                        style="float:right" (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </div>

    </div>


</mat-toolbar>
<!--Mat-toolbar ends-->
<!--Mat-sidenave-container starts-->
<mat-sidenav-container class="sidenav-container">
    <!--Mat-sidenav starts-->
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async)">
        <mat-nav-list>
            <a mat-list-item routerLink="notes"><span class="Notes"><img src="../../../assets/image/add..svg"></span><span
                    class="Notes">Notes</span></a>
            <a mat-list-item routerLink="reminder"><span class="Notes"><img src="../../../assets/image/add1.svg"></span><span
                    class="Notes">Reminder</span></a>
            <hr class="line">
            <a mat-list-item href="#"><span class="label" class="Notes1">Labels</span><span
                    class="edit"><b>EDIT</b></span></a>
            <!-------------------Add label starts---------------------------->
            <app-add-label></app-add-label>
            <!-------------------Add label ends---------------------------->

            <hr class="line">
            <a mat-list-item routerLink="Archive"><span class="Notes"><img src="../../../assets/image/add3.svg"></span><span
                    class="Notes">Archive</span></a>
            <a mat-list-item routerLink="Trash"><span class="Notes"><img src="../../../assets/image/add4.svg"></span><span
                    class="Notes">Trash</span></a>
            <hr class="line">
            <a mat-list-item href="#"><span class="Notes"><img src="../../../assets/image/add5.svg"></span><span
                    class="Notes">Settings</span></a>
            <a mat-list-item href="#"><span class="Notes"><img src="../../../assets/image/add6.svg"></span><span
                    class="Notes">Send feedback</span></a>
            <a mat-list-item href="#"><span class="Notes"><img src="../../../assets/image/add7.svg"></span><span
                    class="Notes">Help</span></a>
            <a mat-list-item href="#"><span class="Notes"><img src="../../../assets/image/add8.svg"></span><span
                    class="Notes">App downloads</span></a>
            <a mat-list-item href="#"><span class="Notes"><img src="../../../assets/image/add9.svg"></span><span
                    class="Notes">Keyboard shortcuts</span></a>

        </mat-nav-list>
    </mat-sidenav>
    <!--Mat-sidenav ends-->
    <mat-sidenav-content class="sideNavBar">
        <!--------------------Router outlet starts------------------------------>
    
        <router-outlet></router-outlet>
        <!--------------------Router outlet ends------------------------------>
    </mat-sidenav-content>

</mat-sidenav-container>
<!--Mat-sidenave-container ends-->