/* .home{
  display: flex;
} */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  margin-top: 5%;
  /* position: absolute; */
  position: fixed;
 
}

/* .mat-toolbar.mat-primary {
  position: sticky; 
} */
/* .navlist{
  margin-top:0px; 
} */
.toolbar{
 background-color: #fb0;
 position: fixed;
 z-index: 2 !important;
}
.sidenav-content{
  width: 100%;
  position: fixed;
  margin-left: 0%;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0,0,0,.0);
}
.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.mat-drawer-content{
  overflow: auto;
  position: relative;
}
/* .mat-nav-list{
  overflow-y: scroll;
} */
.search{
  width: 70%;
  margin: 0% 0% 0% 0%;
  border: 1px;
  border-radius: 0px 5px 5px 0px;
  height: 65%;
  padding: 1% 1% 1% 1%;
}
.title{
  padding:2%;
}
.button{
  border: 2px;
  border-radius: 5px;
}

.search{
  margin-left: 0%;
  margin-bottom: 0%;
}

.search-button{
  border-radius: 5px 0px 0px 5px;
  width: 5%;
}
.search-input{
  width: 90%;
  border: 1px;
    height: 90%;
    background-color: rgba(92, 90, 86, 0);
    border-radius: 5px;
}
input:focus{
  background-color: white;
}
/* .left_icons{
  margin-right: 6%;
}
.right_icons{
  padding: 0% 8% 0% 0%;
  margin: 0% 0% 0% 0%;
} */
.Notes{
  padding: 0% 16% 0% 0%;
  font-size: 83%;
}
.label{
font-size: 83%;
}
.edit{
  font-size: 83%;
}
.Notes1{
  padding: 0% 63% 0% 0%;
}
.line{
  opacity: 0.3;
}
.icons{
  margin-right: 0%;
}
