/* .home{
  display: flex;
} */
.sidenav-container {
  height: 100%;
  
}
.image{
  float:left ;
  width:100px;
  height:100px;
  border-radius: 50% !important;
}
.sidenav {
  width: 250px;
  margin-top: 5%;
  /* position: absolute; */
  position: fixed;
 
}

/* .mat-toolbar.mat-primary {
  position: sticky; 
} */
/* .navlist{
  margin-top:0px; 
} */
.toolbar{
 background-color: #fb0;
 position: fixed;
 z-index: 2 !important;
}
// .sidenav-content{
//   width: 100% !important;
//   position: fixed !important;
  
// }
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0,0,0,.0);
}
@media only screen and (max-width: 640px){
  .mat-nav-list{
    padding-top:15% !important;
  }
}
@media only screen and (max-width: 768px){
  .mat-nav-list{
    padding-top:16% !important;
  }
}
.mat-drawer-content{

  position: relative;
  overflow-y: scroll!important;
  overflow-x: hidden!important;
}

.search{
  min-width: 2%;
  width: 70%;
  margin: 0% 0% 0% 0%;
  border: 1px;
  border-radius: 0px 5px 5px 0px;
  height: 65%;
  padding: 1% 1% 1% 0%;
}
.title{
  padding:2%;
}
.button{
  border: 2px;
  border-radius: 5px;
}


.search-button{
  border-radius: 5px 0px 0px 5px;
  width: 5%;
}
.search-input{
  width: 90%;
  border: 1px;
    height: 90%;
    background-color: rgba(92, 90, 86, 0);
    border-radius: 5px;
}
input:focus{
  background-color: white;
}

.Notes{
  padding: 0% 16% 0% 0%;
  font-size: 83%;
}
.label{
font-size: 83%;
}
.edit{
  font-size: 83%;
}
.Notes1{
  padding: 0% 63% 0% 0%;
}
.line{
  opacity: 0.3;
}
.icons{
  margin-right: 0%;
}
.sideNavBar{
  margin-top: 5%;
}
.mat-menu-content:not(:empty){
  padding: 8px 8px 8px 8px !important;
}
.mail{
  margin: auto;
}
.mail1{
  font-weight: 900;
}
.inputFile1{
  padding-bottom:5%;
 
}
.inputFile{
  padding-bottom:2%;
}
.image1{
  height: 35px;
  width:  35px;
  border-radius: 50% !important;
}
.right_icons{
  margin-left: 29%;
}
.profilebutton{
  height: 80px;
  width: 80px;
  border-radius: 50% !important;
}