<div fxLayout="column" fxLayoutGap="2%">
  <div></div>
  <div fxLayout="row" class="containerDiv">
    <div fxFlex="20%" fxShow.lg="true" fxShow.md="true" fxShow.sm="false" fxShow.xs="false" ></div>
    <div fxFlex="80%" class="mainAddCardDiv">

      <mat-card class="matcard" *ngIf="!note1">
        <div data-text="Take a note..." contenteditable="true" class="div2"
          (click)="note1=!note1">
        </div>

        <span class="span">
          <button mat-icon-button fxShow.xs="false" fxShow.sm="true" fxShow.md="true"
            (click)="toggle()">
            <i class="material-icons addCardIcons">list</i>
          </button>


          <button mat-icon-button>
            <i class="material-icons addCardIcons">photo</i>
          </button>

          <button mat-icon-button>
            <i class="material-icons addCardIcons">edit</i>
          </button>

        </span>
      </mat-card>
      <!-- <mat-card *ngIf="checkListCard" >
                    <mat-card-header >
                        <div data-text="Title" id="title" contenteditable="true" class="div2">
                        </div>
                        <button mat-icon-button style="margin-top: -10px" (click)="pinned()">
                            <img src="../../../assets/image/add10.svg">
                          </button>
                    </mat-card-header> 
                  
                <mat-card-content>


                </mat-card-content>
                <mat-card-actions flexLayout="row" >
                  <app-reminder></app-reminder>
    
                  <app-collaborator></app-collaborator>
    
                  <app-theme [Noteid]=""  (ColorChanged)="refresh($event)"></app-theme>
    
                 <app-image></app-image>
    
                  <app-post-archive [Noteid]="" (ArchiveClicked)="archive($event)"></app-post-archive>
    
                <app-more  (LabelObj)="labels($event)"></app-more>
    
                <button mat-button style="float:right" (click)="toggle()"> Close</button>
                </mat-card-actions>
              </mat-card> -->



      <mat-card class="matcard" *ngIf="note1" [style.background-color]="bgColor">
        <mat-card-header>
          <div data-text="Title" id="title" contenteditable="true" class="div2">
          </div>
          <button mat-icon-button class="addCardButton" (click)="pinned()">
            <img src="../../../assets/image/add10.svg">
          </button>
        </mat-card-header>

        <mat-card-content class="take_note">
          <div data-text="Take a note.." id="description" contenteditable="true"
            class="div2">
          </div>

        </mat-card-content>

        <div fxLayout="row row wrap" *ngFor="let label of LabelName">
          <mat-chip-list>
            <mat-chip>{{label}}</mat-chip>
          </mat-chip-list>
        </div>

        <mat-card-actions flexLayout="row">
          <div fxFlex="90%">
          <!----------------------------Reminder component starts------------------------------------>
          <app-reminder></app-reminder>
          <!----------------------------Reminder component ends------------------------------------>
          <!----------------------------Collaborator component starts------------------------------------>
          <app-collaborator></app-collaborator>
          <!----------------------------Collaborator component ends------------------------------------>
          <!----------------------------Theme component starts------------------------------------>
          <app-theme [Noteid]="" (ColorChanged)="refresh($event)"></app-theme>
          <!----------------------------Theme component ends------------------------------------>
          <!----------------------------Image component starts------------------------------------>
          <app-image></app-image>
          <!----------------------------Image component ends------------------------------------>
          <!----------------------------Post archive component starts------------------------------------>
          <app-post-archive [Noteid]="" (ArchiveClicked)="archive($event)"></app-post-archive>
          <!----------------------------Post archive component starts------------------------------------>
          <!----------------------------More component starts------------------------------------>
          <app-more (LabelObj)="labels($event)"></app-more>
          <!----------------------------More component ends------------------------------------>
          </div>
          <button fxLayoutAllign="end" mat-button   (click)="note1=!note1; addNotes()">
            Close</button>
        </mat-card-actions>

      </mat-card>






    </div>
    <div fxFlex="20%" fxShow.lg="true" fxShow.md="true" fxShow.sm="false" fxShow.xs="false"></div>

  </div>




  <div></div>
</div>