.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
    min-width: 30px;
}
.mat-card{
    padding:19px;   
}

.span{
    top: 10px;
    right: 0px;
    position: absolute;
}
.div2{

    outline: none;
    width: 650px;
    position: relative;
}
div:empty:before {
    content:attr(data-text);
    color:gray
  }

.take_note{
    padding-top: 12px;
    padding-left: 14px;
}
.select_pin{
opacity: 0.5;
}
.deselect_pin{
opacity:0;
}
.addCardIcons{
    opacity: 0.5;
}
.addCardButton{
    margin-top: -10px
}

.mainAddCardDiv{
    max-width: 100%!important;
    margin-left:auto;
    margin-right:auto
}
::ng-deep.checkboxInput{
    border: transparent;
    outline: none;
    border: none;
}
.NotesStriked{
    text-decoration: line-through!important;
}