.container {
    display: flex;
    flex-direction: column;
  }
  
  .container-full-width > * {
    width: 100%;
  }
 
.B{
  color: #4285f4;
}
.R{
  color: #EA4335;
}
.Y{
  color: #EBBC05;
}
.G{
  color: #34A853;
}
 