@import "../../../scss/mixing.scss";
@import "../../../scss/variable.scss";
::ng-deep.mat-dialog-container{
padding: 0%;
overflow: hidden;
}

.mat-card{
    padding: 10px;
}
.editbox{
    opacity:$opacity2;
}
.editbox:hover{
 opacity: $opacity;
}
.delete{
    opacity: $opacity2;
}
.delete:hover{
    opacity: $opacity;
}
::ng-deep.mat-dialog-content {
    overflow: hidden;
}
.inputLabel{
@include noBorder-inputBox;
}
.inputLabel1{
    margin-top:10%; 
    margin-left: 7%; 
    border: 0px;
    outline: none;
}
.labelCreateIcon{
    margin-left: 3%;
    @include labelInputFieldPosition;
}
.checkLabel{
    @include labelInputFieldPosition;
}
.editLabelIcon{
    @include LabelIconPosition;
}
.labelInputField{
    margin-left:5%; 
    @include text-overflow-hide;
}
.deleteIcon{
    opacity: $opacity1;
}
.checkLabel1{
    @include LabelIconPosition;
}
.labelEditBox{
    margin-left: 5%; 
    border: 0px
}
.headingEditLabels{
    padding:5%;
    margin: 0px 0px -19px
}
.labelName{
    overflow-y: scroll !important;
}
.mat-dialog-container{
    padding: 0px!important;
}