<h2 mat-dialog-title style="padding:5%;margin: 0px 0px -19px">Edit labels</h2>
<div mat-dialog-content>
  
 
    <div fxLayout="row" fxLayoutAlign="space-between" >
      <div fxFlex="10%" *ngIf="show" (click)="toggle()"> <mat-icon style="margin-top: 68%; margin-left: 3%; opacity: 0.5">close</mat-icon> </div>
      <div fxFlex="10%" *ngIf="!show" (click)="show=!show"> <mat-icon style="margin-top: 68%; margin-left: 3%; opacity: 0.5">add</mat-icon> </div>
      <div fxFlex="80%"  (click)="!show=show"> <input class="inputLabel" matInput placeholder="Create new label" style="margin-top:10%; margin-left: 7%; border: 0px" #label></div>
      <div fxFlex="10%" *ngIf="show"><mat-icon style="margin-top: 68%; opacity: 0.5" (click)="postLabel(); getLabel()">check</mat-icon></div> 
    </div>
    <div fxLayout="column" *ngFor="let name of labelList">
        
      <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="name.id==editId ? !label : label">
          <div fxFlex="10%" class="editbox" > <mat-icon style="margin-left: 3%; opacity: 0.5" (click)="editLabel(name.id,true)" >edit</mat-icon> </div>
          <div fxFlex="80%"  style="margin-left:5%" >{{name.label}}</div>
          <div fxFlex="10%" class="delete" ><mat-icon style=" opacity: 0.5" (click)="deleteLabel(name.id)">delete</mat-icon></div> 
      </div>
       <div *ngIf="editId==name.id ? label : !label">
          <div fxFlex="10%" class="editbox" > <mat-icon style=" margin-left: 3%; opacity: 0.5" (click)="updateLabel(name.id); editLabel(name.id,false)" >check</mat-icon> </div>
          <div fxFlex="80%"> <input class="inputLabel"  matInput value="{{name.label}}" style=" margin-left: 5%; border: 0px" #labeledit></div>
          <div fxFlex="10%" class="delete" ><mat-icon style=" opacity: 0.5" (click)="deleteLabel(name.id)">delete</mat-icon></div> 
       </div>
      
      
      
      
      </div>
    
</div>

<mat-card>
  
  <button mat-button  cdkFocusInitial (click)="onNoClick(); updateLabel(name.id)" style=" margin-left: 66%" >Ok</button>
</mat-card>