<mat-card class="card">
  <mat-card-title>
    <h5 class="heading">Collaborator</h5>
    <hr>
  </mat-card-title>
  <mat-card-content>

    <div fxLayout="row" class="divMargin">
      <div fxFlex="10%">
        <button mat-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">

        </button>
      </div>
      <div fxFlex="15%" fxShow.lg="false" fxShow.md="false" fxShow.sm="false" fxShow.xs="true"></div>
      <div fxFlex="75%" class="nameEmailDetails">
        <span class="nameDetails">{{firstName}}</span>
        <span class="nameDetails">{{lastName}}</span>
        <span class="owner">(Owner)</span>
        <div>{{email}}</div>
      </div>

    </div>
    <div class="contentScroller">
      <div fxLayout="row" *ngFor="let users1 of receiverArray">
        <div fxFlex="10%">
          <button class="buttonDiv" mat-mini-fab>
            <i class="material-icons iconPerson"> {{users1.email | titlecase | slice:0:1}} </i>
          </button>
        </div>

        <div fxFlex="10%" fxShow.lg="false" fxShow.md="false" fxShow.sm="false" fxShow.xs="true"></div>
        <div fxFlex="70%" fxLayout="column" class="nameEmailDetails">
          <div>{{users1.email}}</div>
        </div>
        <div fxFlex="10%" ><i class="material-icons" *ngIf="!showSave">
            clear
          </i>
          <i class="material-icons" *ngIf="showSave">
            check
          </i></div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="10%">
        <button class="buttonDiv" mat-fab>
          <i class="material-icons iconPerson"> person_add </i>
        </button>
      </div>

      <div fxFlex="15%" fxShow.lg="false" fxShow.md="false" fxShow.sm="false" fxShow.xs="true"></div>
      <div fxFlex="75%" fxLayout="column" class="nameEmailDetails">
        <input class="inputOfCollaborator" matInput placeholder="Person or email to share with" [(ngModel)]="searchValue"
          (keyup)="searchUsers(searchValue)" [matMenuTriggerFor]="menu">
      </div>

    </div>

  </mat-card-content>
  <mat-card-footer class="footer">


    <div class="buttonMargin">
      <button mat-button class="buttons"  (click)="addUsers()">Save</button>
      <button mat-button class="buttons" (click)="close()">Close</button>
    </div>




  </mat-card-footer>

  <mat-menu #menu="matMenu" class="matMenuCollaborator" (click)="$event.stopPropagation()" yPosition="below" [overlapTrigger]="false">
    <div *ngFor="let users of userArray">
      <div fxLayout="row" (click)="saveUsers(users)" class="font">
        <div>
          <span class="space">{{users.firstName}}</span>


          <span class="space">{{users.lastName}}</span>


          <span>{{users.email}}</span>

        </div>
      </div>
    </div>
  </mat-menu>

</mat-card>