@import "../../../scss/mixing.scss";
@import "../../../scss/variable.scss";
::ng-deep.mat-dialog-container{
    display: block;
    padding: 0px!important;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    border-radius:10px;
}
.heading{
    margin:0px;
  
}
.nameDetails{
    font-weight: 700;
}
.nameEmailDetails{
    padding:8px;
}
.owner{
    font-style: italic;
}
.buttons{
    float: right;
    margin-top: 18px;
}
.footer{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.116)!important;
    
}
.buttonMargin{
    margin-top:18px;
    
}
.divMargin{
    margin-bottom: 10px;
}
.inputOfCollaborator{
  @include noBorder-inputBox;
}
.buttonDiv{
    background-color: $textColorWhite;
}
.iconPerson{
    color: $textColorBlack;
}