@import "../../../scss/mixing.scss";
@import "../../../scss/variable.scss";
.grid-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
     
}

@media only screen and (max-width: 640px){
    .grid-view{
        margin-top: 10% !important;
    }
}

.list-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
@media only screen and (min-width: 0px) and  (max-width: 320px){
    .grid-card{
        width:270px !important;
        word-break: $wordBreak;
    }
}
@media only screen and (min-width: 360px) and (max-width: 375px){
    .grid-card{
        width:315px!important;
        word-break: $wordBreak;
    }
}
@media only screen and (min-width: 375px) and (max-width: 411px){
    .grid-card{
        width:328px!important;
        word-break: $wordBreak;
    }
}
@media only screen and (min-width: 411px) and (max-width: 600px){
    .grid-card{
        width:360px!important;
        word-break: $wordBreak;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .grid-card{
        width:200px!important;
        word-break: $wordBreak;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .grid-card{
        width:270px!important;
        word-break: $wordBreak;
    }
    .list-card{
        width:380px !important;
        word-break: $wordBreak; 
    }
    .list-view{
        margin-left: 11%!important;
    }
    
}
@media only screen and (min-width: 1024px) and (max-width: 1225px){
    .grid-card{
        width:210px!important;
        word-break: $wordBreak;
    }
    .list-card{
        width:530px !important;
        word-break: $wordBreak;
    }
    .grid-view{
        margin-left:5% !important;
    }
    .list-view{
        margin-left: 13%!important;
    }
    .divForSpace{
        display: block;
    }
    
}

@media only screen and (min-width: 1225px) and (max-width: 1299px){
    .grid-card{
        width:250px!important;
        word-break: $wordBreak;
    }
    
    .list-card{
        width:850px !important;
        word-break: $wordBreak; 
    }
    .grid-view{
        margin-left:0%;
    }
    .divForSpace{
        display: block;
    }
}

@media only screen and (min-width: 1299px) and (max-width: 1366px){
    .grid-card{
        width:250px!important;
        word-break: $wordBreak;
    }
    
    .list-card{
        width:850px !important;
        word-break: $wordBreak; 
    }
    .grid-view{
        margin-left:0%;
    }
    .divForSpace{
        display: block;
    }
}
@media only screen and (min-width: 1345px) and (max-width: 1366px){
    .grid-card{
        width:270px!important;
        word-break: $wordBreak;
    }
    
    .list-card{
        width:850px !important;
        word-break: $wordBreak; 
    }
    .grid-view{
        margin-left:0%;
    }
    .divForSpace{
        display: block;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1453px){
    .grid-card{
        width:270px!important;
        word-break: $wordBreak;
    }
    .list-card{
        width: 1000px !important;
    }
    .divForSpace{
        display: block;
    }
}

@media only screen and (min-width: 1453px) and (max-width: 1500px){
    .grid-card{
        width:230px!important;
        word-break: $wordBreak;
    }
    .list-card{
        width: 1000px !important;
    }
    .divForSpace{
        display: block;
    }
}




@media only screen and (min-width: 1500px) and (max-width: 1569px){
    .grid-card{
        width:230px!important;
        word-break: $wordBreak;
    }
    .list-card{
        width: 1000px !important;
    }
    .divForSpace{
        display: block;
    }
}
@media only screen and (min-width: 1569px) and (max-width: 1600px){
    .grid-view{

        .divForSpace{
            display: none;
        }
    }
    .grid-card{
        width:250px!important;
        word-break: $wordBreak;
        
    }
    .grid-view{
        .divForSpace{
            display: block;
        }
    }
    .list-card{
        width: 1100px !important;
    }
    
    
}

@media only screen and (min-width: 1600px) and (max-width: 2000px){
    .grid-view{

        .divForSpace{
            display: none;
        }
    }
    .grid-card{
        width:250px!important;
        word-break: $wordBreak;
        
    }
    .grid-view{
        .divForSpace{
            display: block;
        }
    }
    .list-card{
        width: 1100px !important;
    }
    
    
}
.labelChips{
    width: 60px;
    @include text-overflow-hide;
}
// .list-card{
//     width:850px;
//     word-break: break-all;
// }
.buttons:hover{
    opacity: 1;
}
.buttons{
    opacity:0;
}
.mat-card{
    padding: 13px;
    border: 1px;
    border-radius: 7px;
}
.outsideDivNoteCard{
    padding-bottom:5%;
   
}
.noteCards{
    margin:10px; 
    height: min-content;
}
.headerNoteCard{
    font-weight:bold
}
.note{
    border: transparent;
    border: none;
    outline:none;
    word-break: $wordBreak;
}
.collaborators{
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
}
.question_Asked{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.question{
    font-size: 12px;
    cursor: pointer;
}