<!--Outer div starts-->
<div fxLayout="column" fxLayoutGap="2%">
    <div></div>
    <div fxLayout="row">
        <div fxFlex="13%" fxShow.lg=true fxShow.md=true fxShow.sm=true fxShow.xs=false></div>
        <div fxLayout="row" fxFlex="92%" class="outsideDivNoteCard">
            <div [ngClass]="{
        'grid-view':!toggle,
        'list-view': toggle
    }">


                <!--Mat-card starts-->
                <mat-card [ngClass]="{'grid-card':!toggle,
                           'list-card': toggle}" class="card noteCards"
                    [ngStyle]="{'background-color':data.color}" *ngFor="let data of notesListArray| search: searchData">




                    <!--------------------------Title part------------------------------------>
                    <div flexLayout="row">
                        <div fxFlex="90%" class="headerNoteCard" [innerHTML]="data.title" (click)="openDialog(data)">

                        </div>
                        <div fxFlex="10%">
                            <app-pin [Noteid]=data (pinClicked)="refresh($event)"></app-pin>
                        </div>
                    </div>
                    <!------------------------------------------------------------------------>




                    <!-------------------------Description part-------------------------------->
                    <div [innerHTML]="data.description" (click)="openDialog(data)">



                    </div>
                    <!------------------------------------------------------------------------->





                    <!----------------------Checklist part----------------------------------->
                    <div *ngFor="let checklist of data.noteCheckLists" fxLayout="row">
                        <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open' && !checklist.isDeleted" (click)="checkBox(checklist,data)">
                        </mat-checkbox>
                        <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName
                            fxFlex="90%" class="note" (click)="openDialog(data)" [style.backgroundColor]="data.color">
                    </div>
                    <div class="note" *ngFor="let checklist of data.noteCheckLists" fxLayout="row">
                        <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close' &&
                 !checklist.isDeleted"
                            (click)="checkBox(checklist,data)"></mat-checkbox>
                        <del fxFlex="90%" *ngIf="!checklist.isDeleted && checklist.status=='close'" (click)="openDialog(data)">{{checklist.itemName}}</del>
                    </div>
                    <!----------------------------------------------------------------------->




                    <!-------------------------------Labels show part--------------------------->
                    <div *ngFor="let label of data.noteLabels" fxLayout="row row wrap">
                        <mat-chip-list>
                            <mat-chip *ngIf="!label.isDeleted"><span class="labelChips">{{label.label}}</span></mat-chip>
                        </mat-chip-list>
                    </div>
                    <!-------------------------------------------------------------------------->
                    <div *ngIf="data.noteLabels==''">
                        <div *ngFor="let label of data.labelIdList" fxLayout="row row wrap">
                            <mat-chip-list>
                                <mat-chip *ngIf="!label.isDeleted && label.isChecked"><span class="labelChips">{{label.label}}</span></mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                    <!-------------------------------------------------------------------------->




                    <!-----------------------------Reminder part-------------------------------->
                    <mat-chip-list>
                        <div *ngFor="let reminder of data.reminder">
                            <div *ngIf="(todayDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                                <mat-chip>
                                    Today, {{reminder | date:"mediumTime"}}<span>
                                        <mat-icon matChipRemove (click)="$event.stopPropagation(); removeReminder(data.id)">cancel</mat-icon>
                                    </span>
                                </mat-chip>
                            </div>

                            <div *ngIf="(tomorrowDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                                <mat-chip>
                                    Tomorrow, {{reminder | date:"mediumTime"}}<span>
                                        <mat-icon matChipRemove (click)="$event.stopPropagation(); removeReminder(data.id)">cancel</mat-icon>
                                    </span>
                                </mat-chip>

                            </div>
                            <div *ngIf="(reminder | date:'dd/MM/yyyy') > (tomorrowDate | date:'dd/MM/yyyy')">
                                <mat-chip>
                                    {{reminder | date:"medium"}}<span>
                                        <mat-icon matChipRemove (click)="$event.stopPropagation(); removeReminder(data.id)">cancel</mat-icon>
                                    </span>
                                </mat-chip>

                            </div>
                            <div *ngIf="(todayDate | date:'dd/mm/yyyy') !== (reminder | date:'dd/mm/yyyy') 
                && (tomorrowDate | date:'dd/MM/yyyy') !== (reminder | date:'dd/MM/yyyy')">
                                <div *ngIf="(todayDate | date:'dd/MM/yyyy') > (reminder | date:'dd/MM/yyyy');  
                        else higherDate"
                                    fxLayout="row row wrap">
                                    <mat-chip>
                                        <del>{{reminder | date:'medium'}}</del>
                                        <span>
                                            <mat-icon matChipRemove (click)="$event.stopPropagation(); 
                                removeReminder(data.id)">
                                                cancel
                                            </mat-icon>
                                        </span>
                                    </mat-chip>
                                </div>
                                <!-- <ng-template #higherDate *ngIf="data.reminder.length!=0">
                        <mat-chip>
                            {{reminder | date:"medium"}}
                            <span>
                                <mat-icon matChipRemove (click)="$event.stopPropagation(); 
                                removeReminder(data.id)">cancel
                                </mat-icon>
                            </span>
                        </mat-chip>
                    </ng-template> -->
                            </div>
                            <div *ngIf="(tomorrowDate | date:'dd/mm/yyyy') == (reminder | date:'dd/mm/yyyy')" fxLayout="row row wrap">
                                <mat-chip-list>
                                    <mat-chip *ngIf="!reminder.isDeleted">
                                        Tomorrow, {{reminder | date:'medium'}}
                                        <mat-icon (click)="$event.stopPropagation(); removeReminder(data.id)">
                                            cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                    </mat-chip-list>
                    <!-------------------------------------------------------------------------->
                    <!-----------------------------Collaborator part-------------------------------->
                    <div fxLayoutAlign="row" class="collaborators">
                        <div *ngFor="let index of data.collaborators">
                            <button mat-mini-fab color="accent" (click)="openDialog1(data)">
                                {{index.email | titlecase | slice:0:1}}
                            </button>
                        </div>
                    </div>

                    <!-------------------------------------------------------------------------------->




                    <!------------------Buttons at the bottom of the card------------------------>
                    <div fxLayoutAlign="space-around end" class="buttons">

                        <app-reminder [Noteid]=data (ReminderEmit)="refresh($event)" [Delete]=data.isDeleted></app-reminder>
                        <app-collaborator [Noteid]=data [Delete]=data.isDeleted></app-collaborator>
                        <app-theme [Noteid]=data (ColorClicked)="refresh($event)" [Delete]=data.isDeleted></app-theme>

                        <app-image [Delete]=data.isDeleted></app-image>
                        <app-post-archive [Noteid]=data (ArchiveClicked)="refresh($event)" [Archive]=data.isArchived
                            [Delete]=data.isDeleted></app-post-archive>

                        <app-more [Noteid]=data (DeleteClicked)="refresh($event)" [Delete]=data.isDeleted></app-more>
                    </div>
                    <!----------------------------------------------------------------------------->




                </mat-card>
                <!--Mat-card ends-->
            </div>
        </div>
    </div>
</div>
<!--Outer div ends-->