<!--Outer div starts-->
<div fxLayout="row" class="outsideDivNoteCard">
    <div [ngClass]="{
        'grid-view':!toggle,
        'list-view': toggle
    }">
        <!--Mat-card starts-->
        <mat-card [ngClass]="{'grid-card':!toggle,
                           'list-card': toggle}"
            class="card noteCards" [ngStyle]="{'background-color':data.color}"
            *ngFor="let data of notesListArray| search: searchData">


            <div class="headerNoteCard" [innerHTML]="data.title" (click)="openDialog(data)">

            </div>


            <div [innerHTML]="data.description" (click)="openDialog(data)">



            </div>
            <div *ngFor="let checklist of data.noteCheckLists" fxLayout="row">
                <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open' && !checklist.isDeleted"
                    (click)="checkBox(checklist,data)">
                </mat-checkbox>
                <input *ngIf="!checklist.isDeleted && checklist.status=='open' "
                    [(ngModel)]=checklist.itemName fxFlex="90%" class="note"
                    (click)="openDialog(data)" [style.backgroundColor]="data.color">
            </div>
            <div class="note" *ngFor="let checklist of data.noteCheckLists"
                fxLayout="row">
                <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close' && !checklist.isDeleted"
                    (click)="checkBox(checklist,data)"></mat-checkbox>
                <del *ngIf="!checklist.isDeleted && checklist.status=='close'"
                    (click)="openDialog(data)">{{checklist.itemName}}</del>
            </div>

            <div *ngFor="let label of data.noteLabels " fxLayout="row row wrap">
                <mat-chip-list>
                    <mat-chip *ngIf="label.isDeleted==false">{{label.label}}</mat-chip>
                </mat-chip-list>
            </div>


            <div fxLayoutAlign="space-around end" class="buttons">

                <app-reminder [Delete]=data.isDeleted></app-reminder>
                <app-collaborator [Delete]=data.isDeleted></app-collaborator>
                <app-theme [Noteid]=data (ColorClicked)="refresh($event)"
                    [Delete]=data.isDeleted></app-theme>

                <app-image [Delete]=data.isDeleted></app-image>
                <app-post-archive [Noteid]=data (ArchiveClicked)="refresh($event)"
                    [Archive]=data.isArchived [Delete]=data.isDeleted></app-post-archive>

                <app-more [Noteid]=data (DeleteClicked)="refresh($event)"
                    [Delete]=data.isDeleted></app-more>
            </div>



        </mat-card>
        <!--Mat-card ends-->
    </div>
</div>
<!--Outer div ends-->