.grid-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
.list-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-card{
    width:280px;
    word-break: break-all;
}
.list-card{
    width:90%;
    word-break: break-all;
}
.buttons:hover{
    opacity: 1;
}
.buttons{
    opacity:0;
}
.mat-card{
    padding: 13px;
    border: 1px;
    border-radius: 7px;
}
.outsideDivNoteCard{
    padding-bottom:5%;
    padding-left:8%;
}
.noteCards{
    margin:5px; 
    height: min-content;
}
.headerNoteCard{
    font-weight:bold
}
