<a mat-list-item (click)="openDialog()"><span class="Notes"><img src="../../../assets/image/add2.svg"></span><span
        class="Notes">Create new label</span></a>
<!-----------------------Label container starts------------------------------------>
<div *ngFor="let name of labelList" fxLayout="row">
    <a mat-list-item class="labelContainer" (click)="labelsClicked(name)"><i class="material-icons">label</i><span
            class="labelNameContainer">{{name.label}}</span></a></div>
<!-----------------------Label container ends------------------------------------>