$width:100%;
$opacity:1;
$letterColorBlue:#4285f4;
$letterColorRed:#EA4335;
$letterColorYellow:#EBBC05;
$letterColorGreen:#34A853;
$buttonColorBlue:#0f5cd8;
$textColorWhite:white;
$inputWidth:40%;
$textColorBlack:black;
$opacity1:0.5;
$opacity2:0.3;
$wordBreak:break-all;