<div fxLayout="column" fxLayoutGap.lg="0%" fxLayoutGap.md="0%" fxLayoutGap.sm="0%" fxLayoutGap.xs="0%">
  <div></div>
    <div fxLayout="row">
      <div fxFlex.lg="0%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
      <div fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="navigation-bar">
          <mat-toolbar class="tool-bar">
            <div>
                <button type="button"mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>  
            </div> 
            <div class="logo">
                <span>fundonotes</span>
            </div>
            <div class="search-container">   
                <input  class="searchbar" type="text" placeholder="Search.." name="search">
            </div>
           
             
           </mat-toolbar>
      </div>
      <div fxFlex.lg="0%" fxFlex.md="0%" fxFlex.sm="0%" fxFlex.xs="0%"></div>  
    </div>
  <div></div>
</div>