@import "../../../scss/variable.scss";
@import "../../../scss/mixing.scss";
.container1 {
    display: flex;
    flex-direction: column;
  }
  .container2-full-width{
    width: $inputWidth;
  }
    
  .select{
    width:  $inputWidth;
    background-color: rgba(34, 34, 34, 0.548);
    color: $textColorWhite;
  }
  
  .deselect{
    width:  $inputWidth;
    background-color: rgba(255, 228, 196, 0.527);
  }
  
  .B{
    color: $letterColorBlue;
  }
  .R{
    color: $letterColorRed;
  }
  .Y{
    color: $letterColorYellow;
  }
  .G{
    color: $letterColorGreen;
  }
  .invalid-feedback{
    width: $inputWidth;
    @include validationText;
    
  }
  .invalid-feedback >* {
   @include validationText;
  }
 .buttonSignup{
  background-color:$buttonColorBlue; 
  color: $textColorWhite;
 }
  