<div fxLayout="column" fxLayoutGap.lg="10%" fxLayoutGap.md="0%" fxLayoutGap.sm="0%" fxLayoutGap.xs="0%">
<div></div>
      <div fxLayout="row">
          <div fxFlex.lg="32%" fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
                <div fxFlex.lg="36%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%" class="container">
                        <div>
                          <div>
                              <form class="container" [formGroup]="loginForm">
                              <mat-card> 
                                  <div fxLayoutAlign="center">
                                     <h1>
                                      <span class="B">F</span>
                                      <span class="R">N</span>
                                      <span class="Y">O</span>
                                      <span class="B">T</span>
                                      <span class="R">E</span>
                                      <span class="G">S</span>
                                     </h1>
                                  </div>
                                  
                                  <div fxLayoutAlign="center">
                                      <p style="font-size:28px" >Sign in</p>
                                      <br>
                                  </div>
                                 
                                  
                                    <div class="container-full-width">
                                        <mat-form-field>
                                            <input matInput placeholder="Email" [(ngModel)]="model.email" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                                          </mat-form-field>
                                    </div>
                                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback1">
                                      <mat-error *ngIf="f.Email.errors.required" >Email is required</mat-error>
                                      <mat-error *ngIf="f.Email.errors.email" >[Provide a valid email xyz@abc.com]</mat-error>
                                    </div>
                                    <br>
                                  <div class="container-full-width">
                                      <mat-form-field>
                                          <input matInput placeholder="Password" [type]="!hide ? 'password' : 'text'"  [(ngModel)]="model.password"  formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                                          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                      </mat-form-field>
                                  </div>
                                  <div *ngIf="submitted && f.Password.errors" class="invalid-feedback1">
                                    <mat-error *ngIf="f.Password.errors.required" >Password is required</mat-error>
                                    <mat-error *ngIf="f.Password.errors.minlength" >Password should be minimum 6 characters</mat-error>
                                  </div>
                                  <br>
                                  
                                  <div>
                                    <a routerLink="/forgot-password">Forgot password?</a>
                                  </div> 
                                
                                <br>
                                <br>
                                <br>
                                <div fxLayoutAlign="space-between"> 
                                  <a href="#" routerLink="/register">Create account</a>
                                  <button (click)="login()" mat-raised-button style="background-color:#0f5cd8; color: white">Next</button>
                                </div> 
                              </mat-card>
                            </form>
                          </div>
                        </div>
                            
                </div>   
          <div fxFlex.lg="32%" fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
      </div>
<div></div>
</div>

