@import "../../../scss/variable.scss";
@import "../../../scss/mixing.scss";
.container {
    display: flex;
    flex-direction: column;
  }
  
  .container-full-width > * {
    width: $width;
  }
 
.B{
  color: $letterColorBlue;
}
.R{
  color: $letterColorRed;
}
.Y{
  color: $letterColorYellow;
}
.G{
  color: $letterColorGreen;
}
.invalid-feedback1{
  @include validationText;
}
.invalid-feedback1 >* {
  @include validationText;
}
 