.container1 {
    display: flex;
    flex-direction: column;
    width: 100%
  }
  .container2-full-width{
    width: 40%
  }
    
  .select{
    width:  40%;
    background-color: rgba(34, 34, 34, 0.548);
    /* border: 2px solid rgb(32, 32, 32); */
    color: white;
  }
  
  .deselect{
    width:  40%;
    background-color: rgba(255, 228, 196, 0.527);
  }
  
  .B{
    color: #4285f4;
  }
  .R{
    color: #EA4335;
  }
  .Y{
    color: #EBBC05;
  }
  .G{
    color: #34A853;
  }