<div fxLayout="column" fxLayoutGap.lg="10%" fxLayoutGap.md="0%" fxLayoutGap.sm="0%" fxLayoutGap.xs="0%">
  <div><p>Header</p></div>  
    <div fxLayout="row">
          <div fxFlex.lg="32%" fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
          <div fxFlex="36%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%">
              <mat-card style="width: 100%">
                <div fxLayoutAlign="center">
                    <h1>
                        <span class="B">F</span>
                        <span class="R">N</span>
                        <span class="Y">O</span>
                        <span class="B">T</span>
                        <span class="R">E</span>
                        <span class="G">S</span>
                   </h1>
                  </div> 
                  <div fxLayoutAlign="center">
                      <p style="font-size:20px" >Create your account</p>
                  </div>
                  <div>
                      <form class="container1" [formGroup]="signupForm">
                          <div fxLayoutAlign="space-between">
                              <mat-form-field class="container2-full-width">
                                  <input matInput placeholder="First name" [(ngModel)]="model.fname" formControlName="Fname">
                              </mat-form-field>
                              <mat-form-field class="container2-full-width">
                                  <input matInput placeholder="Last name" [(ngModel)]="model.lname" formControlName="Lname">
                              </mat-form-field>
                          </div>
                          <br>
                          <div>
                            <mat-form-field class="container1">
                              <input matInput placeholder="Username" [(ngModel)]="model.uname" formControlName="Uname">
                           </mat-form-field>
                           <p>You can use letters or numbers.</p>
                           <mat-form-field class="container1">
                                <input matInput placeholder="Email" [(ngModel)]="model.uname" formControlName="Email">
                             </mat-form-field>
                          </div>
                          <br>
                          <div fxLayoutAlign="space-between">
                              <mat-form-field class="container2-full-width">
                                  <input matInput placeholder="Password" [(ngModel)]="model.pass" formControlName="Password">
                              </mat-form-field>
                              <mat-form-field class="container2-full-width">
                                  <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" formControlName="ConfirmPassword">
                                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                              </mat-form-field>
                          </div>
                          <div fxLayoutAlign="space-between"> 
                              <a href="#" routerLink="/login">Sign in instead</a>
                              <button  mat-raised-button style="background-color:#0f5cd8; color: white" (click)="signup()">Next</button>
                          </div>
                          <br>
                            <div fxLayout="row" fxLayoutGap="5%" >
                                
                                        <mat-card (click)="toggle(datas)" *ngFor="let datas of cards"  [ngClass]="datas.select ? 'select' : 'deselect'">
                                                <h3>{{datas.name}}</h3>
                                                <hr>
                                                <br>
                                                {{datas.description}}
                                        </mat-card>
                            </div>
                      </form>
                  </div>  
              </mat-card>  
          </div>
          <div fxFlex.lg="32%" fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
  <div><p>Footer</p></div>
</div>