<div fxLayout="column" fxLayoutGap="0%" class="fixedDiv">


  <!--Mat card starts for displaying the card-->
  <mat-card class="cardQA">
    <div>

      <div fxLayout="row" class="marginQA1">
        <div class="titleQA" fxFlex="50%">{{title}}</div>
        <button mat-button fxFlex="50%" (click)="returnBack()">Close</button>
      </div>
      <div class="cardContent">
        <div class="descriptionQA marginQA" *ngIf="description!=''" [innerHtml]="description"></div>
        <div class="marginQA3">
          <div *ngFor="let list of checklist" class="marginQA">
            <mat-checkbox [ngModel]="true" *ngIf="list.status=='close' && list.isDeleted==false"></mat-checkbox>
            <del class="marginQA" *ngIf="list.status=='close' && list.isDeleted==false">{{list.itemName}}</del>
          </div>
          <div *ngFor="let list of checklist" class="marginQA">
            <mat-checkbox [ngModel]="false" *ngIf="list.status=='open' && list.isDeleted==false"></mat-checkbox>
            <span class="marginQA" *ngIf="list.status=='open' && list.isDeleted==false">{{list.itemName}}</span>
          </div>
        </div>
      </div>

    </div>
  </mat-card>
  <!--Mat card ends for displaying the card-->

  <!--Question asked starts-->
  <div class="questionsAsked">Question Asked</div>
  <div fxLayout="row">
    <div fxFlex="2%"></div>
    <div fxFlex="96%" class="questionsAskedInput" *ngIf="question==null">
      <input matInput placeholder="Ask a question" [(ngModel)]="questionAsked" (keydown.enter)="askQuestion(questionAsked)"
        class="inputPart">

    </div>
    <div>{{question}}</div>
    <div fxFlex="2%"></div>

  </div>
  <!--Question asked ends-->

  <!--Qusetion displayed starts-->
  <div class="detailsQA" fxLayout="row" *ngIf="question!=null">
    <div fxFlex.lg="5%" fxFlex.md="7%" fxFlex.sm="10%" fxFLex.xs="20%" class="picButton"><button mat-fab disabled
        [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">

      </button>
    </div>

    <div fxFlex.lg="95%" fxFlex.md="93%" fxFlex.sm="90%" fxFlex.xs="80%" class="quetionAskedDiv">
      <div class="userNameDate">
        <span class="firstName">{{firstNameUser}}</span>
        <span class="lastName">{{lastNameUser}}</span>
        <span class="date">{{date.createdDate | date:"medium"}}</span>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="quesAskedDiv">
          <div class="quesAsked">{{question}}
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="40%" class="iconsQA" fxLayout="row" *ngIf="likeCount(firstLike)">
            <i class="material-icons replyIcon replyIcon1" (click)="reply()">
              reply
            </i>
            <i class="material-icons likeIcon likeIcon1" (click)="like()">
              thumb_up_alt
            </i>
            {{count}}
          </div>
          <div fxFlex="60%">
            <bar-rating [(rate)]="rate" [max]="5" (rateChange)="rating($event)">
            </bar-rating>
          </div>

        </div>
      </div>
      <div *ngIf="replyMessage" fxLayout="row">
        <div class="reply_Div" fxFlex="50%" contenteditable="true" placeholder="Reply..." #replyText>

        </div>
        <div fxFlex="50%">
          <button mat-button (click)="replyGiven()">
            Send
          </button>
        </div>

      </div>
    </div>


    <div fxFlex.lg="5%" fxFlex.md="7%" fxFlex.sm="10%" fxFLex.xs="20%">

    </div>

  </div>
  <!--Qusetion displayed ends-->


</div>

<div class="scrollDiv">
  <div>
    <div fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFLex.xs="100%">
      <div fxLayout=row *ngFor="let reply of replfirstStageArray; let i=index">
        <div fxFlex.lg="5%" fxFlex.md="7%" fxFlex.sm="10%" fxFLex.xs="20%"></div>
        <div fxFlex.lg="95%" fxFlex.md="93%" fxFlex.sm="90%" fxFlex.xs="80%" class="replyDetailsFirstStage" fxLayout=row>
          <div>
            <button mat-fab disabled [ngStyle]="{'background-image':'url(' +img1+reply.user.imageUrl+ ')','background-size':'cover'}"></button>
          </div>
          <div class="replyMessageFirstStageDiv">
            <div class="userName1" fxLayout.xs=column>
              <span class="firstName">{{firstNameUser1}}
                <span class="lastName">{{lastNameUser1}}</span>
              </span>
              <span class="date">{{reply.createdDate | date:"medium"}}</span>
            </div>
            <div fxLayout="row wrap" >
              <div style="word-break:break-all">
                {{reply.message}}
              </div>
              <div fxLayout="row" class="iconsFirstStageReply">
                <div fxFlex="40%" class="iconsQA" fxLayout="row">
                  <i class="material-icons replyIcon replyIcon1" (click)="reply1(reply.id)">
                    reply
                  </i>
                  <i class="material-icons likeIcon likeIcon1" (click)="likeFirstStage(reply.id)">
                    thumb_up_alt
                  </i>
                  <span *ngIf="likeCount(reply.like)">{{count1}}</span>
                </div>
                <div fxFlex="60%" *ngIf="rateAverage(reply.rate)" fxLayout="row">
                  <div fxFlex="95%">
                    <bar-rating [(rate)]="rate1Value" [max]="5" (rateChange)="rating1($event,reply.id)">
                        {{(rate1)}}
                    </bar-rating>
                  </div>
                  <div fxFlex="5%">
                    <i class="material-icons">
                      keyboard_arrow_down
                    </i>
                  </div>

                </div>

              </div>
            </div>


            <!--Reply div 2nd stage-->
            <div *ngIf="replyMessage1 && reply.id==replyId1" fxLayout="row">
              <div class="reply_Div1" fxFlex="50%" contenteditable="true" placeholder="Reply..." #replyText1>

              </div>
              <div fxFlex="50%">
                <button mat-button (click)="replyGiven1(reply.id)">
                  Send
                </button>
              </div>

            </div>
            <!--Reply div 2nd stage-->
            <!---Message div of 2nd stage starts--->
            <div *ngIf="reply2ndStage(reply)">
              <div fxLayout="row" *ngFor="let reply1 of replyArray2ndStage" class="reply2ndStageDiv">
                <div fxFlex="8%">
                  <button mat-mini-fab disabled [ngStyle]="{'background-image':'url(' +img1+reply1.user.imageUrl+ ')','background-size':'cover'}"></button>
                </div>
                <div fxFlex="92%" class="reply2ndStage">
                  <div class="userName2">
                    <span class="firstName">{{reply1.user.firstName}}
                      <span class="lastName">{{reply1.user.lastName}}</span></span>
                    <span class="date">{{reply1.createdDate | date:"medium"}}</span>
                  </div>
                  <div fxLayout="row wrap" >
                    <div style="word-break:break-all; margin-left:25px">
                      {{reply1.message}}
                    </div>

                    <div fxLayout="row">
                      <div fxFlex="42%" class="iconsQA">
                        <i class="material-icons likeIcon likeIcon1" (click)="likeFirstStage(reply1.id)">
                          thumb_up_alt
                        </i>
                        <span *ngIf="likeCount(reply1.like)">{{count1}}</span>
                      </div>
                      <div fxFlex="58%" *ngIf="rateAverage(reply1.rate)" fxLayout="row">
                        <bar-rating fxFlex="99%" [(rate)]="rate1Value" [max]="5" (rateChange)="rating1($event,reply1.id)">
                            
                        </bar-rating >
                        <!-- <div fxFlex="1%">
                            {{(rate1)}}
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>  
            </div>
            <!---Message div of 2nd stage ends--->



          </div>


        </div>

        <div fxFlex.lg="5%" fxFlex.md="7%" fxFlex.sm="10%" fxFLex.xs="20%"></div>

      </div>

    </div>

  </div>
</div>