<div fxLayout="column" fxLayoutGap.lg="10%" fxLayoutGap.md="0%" fxLayoutGap.sm="0%" fxLayoutGap.xs="0%">
    <div></div>
    <div fxLayout="row">
        <div fxFlex.lg=32% fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
        <div fxFlex.lg="36%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-card>
                <div fxLayoutAlign="center">
                    <h1>
                        <span class="B">F</span>
                        <span class="R">N</span>
                        <span class="Y">O</span>
                        <span class="B">T</span>
                        <span class="R">E</span>
                        <span class="G">S</span>
                   </h1>
               </div>
               <div fxLayoutAlign="center">
                  <p style="font-size:15px">Reset your password</p>
              </div>
              <div>
                <form [formGroup]="resetPasswordForm">
                    <div class="input1">
                        <mat-form-field>
                            <input [(ngModel)]="model.password" formControlName="pass"  matInput placeholder="Password" >
                        </mat-form-field>
                    </div>
                    <div class="input1">
                        <mat-form-field>
                            <input [(ngModel)]="model.confirmpassword" formControlName="Conpass"  matInput placeholder="Confirm password" >
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-raised-button (click)="reset()" style="background-color:#0f5cd8; color: white">Reset</button>
                    </div>
                </form>
              </div>
            </mat-card>
        </div>
        <div fxFlex.lg="32%" fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    </div>
</div>
