<body class="bodyDivInternetError" >


  <div fxLayout="column" fxLayoutGap="10%" >
    <div></div>
    <div fxLayout="row">
      <div fxFlex="20%"></div>
      <div fxFlex="60%">

        <h2>Unable to connect</h2>
        <hr>
        <h3>Browser can't establish a connection to the server</h3>
        <ul>
          <li>The site should be temporary unavailable or busy. Try agin in a few moments</li>
          <li>If you are unable to load any pages check your component internet connction</li>
          <li>Check your computer is protected by a firewall or proxy</li>
        </ul>
        <hr>
        <div fxLayoutAlign="end"><button mat-raised-button color="primary" routerLink="/home">Try again</button></div>
      </div>

      <div fxFlex="20%"></div>
    </div>


    <div></div>

  </div>
</body>