
<div fxLayout="column" fxLayoutGap="0%" >
        <app-add-notes (closeClicked)="displayCard($event)" ></app-add-notes>
   <div></div>
    <div fxLayout="row">
        <div fxFlex="5%"></div>
        <div fxFlex="90%">
            



                    <div>
                        <app-note-card [notesListArray]="notes" (refreshClicked)="displayCard($event)"></app-note-card>
                    </div>
                             
                    
                     
               
        </div>
        <div fxFlex="5%"></div>  
    </div>    
   <div></div>
</div>
