<div flexLayout="column" fxLayoutGap="50%">
        <div></div>
<!---------------------Add note starts------------------------------>
<app-add-notes (closeClicked)="displayCard($event)" (notesAddedEmit)="onNewEntryAdded($event)"></app-add-notes>
<!---------------------Add note ends------------------------------>
<div fxLayout="row"> 
    <div fxFlex="50%"></div>
    <div fxFlex="50%" fxLayoutAlign="end"><h3>PINNED</h3></div>
</div>

<app-note-card [notesListArray]="pinArray" (refreshClickedDeleteLabel)="refresh($event)" 
(refreshClicked)="displayCard($event)"
    (updateCard)="displayCard($event)">
    
</app-note-card>
<div *ngIf="loading" class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>

<div fxLayout="row"> 
        <div fxFlex="50%"></div>
        <div fxFlex="50%" fxLayoutAlign="end"><h3>OTHERS</h3></div>
    </div>
<!--------------------Note card starts----------------------------->
<app-note-card [notesListArray]="notes" (refreshClickedDeleteLabel)="refresh($event)" 
(refreshClicked)="displayCard($event)"
    (updateCard)="displayCard($event)">
   
</app-note-card>
<!--------------------Note card ends----------------------------->

</div>

