<mat-card [ngStyle]="{'background-color':data.color}" [style.background-color]="bgColor">

  <!-- <body > -->


  <!---------------------------For displaying the title of the note card----------------------------->
  <mat-card-header>
    <div data-text="Title" id="title" contenteditable="true" class="div2" [innerHTML]="data.title">
    </div>
    <div>
      <div>
        <button mat-icon-button style="margin-top: -10px" *ngIf="!pinClick" (click)="pined()">
          <img src="../../../assets/image/add10.svg">
      </button>
      <button mat-icon-button style="margin-top: -10px" *ngIf="pinClick" (click)="pined()">
          <img src="../../../assets/image/add11.svg">
      </button>
    </div>
    </div>
  </mat-card-header>
  <!------------------------------------------------------------------------------------------------>


  <mat-card-content class="take_note">
    <!---------------------------For displaying the desctiption-------------------------------------->
    <div data-text="Take a note.." id="description" *ngIf="data.description" contenteditable="true" class="div2"
      [innerHTML]="data.description">
    </div>
    <!------------------------------------------------------------------------------------------------>
    <!-------------------------------For displaying the checklist--------------------------------------->
    <!--Checklist unchecked area-->
    <div *ngFor="let checklist of checkListItemArray" fxLayout="row">
      <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open' && !checklist.isDeleted" (click)="checkBox(checklist,data);toggle()">
      </mat-checkbox>
      <input *ngIf="!checklist.isDeleted && checklist.status=='open'" [(ngModel)]=checklist.itemName fxFlex="80%" class="note"
        [ngStyle]="{'background-color':data.color}" [style.backgroundColor]="bgColor" (keyup)="editCard($event,checklist)">
      <mat-icon fxFlex="10%" *ngIf="checklist.status=='open' && !checklist.isDeleted" (click)="onDelete(checklist)"
        matTooltip="delete">cancel</mat-icon>
    </div>

    <!---------------------------------------------------------------------------------------------->
    <!--Checklist input area-->
    <hr *ngIf="data.noteCheckLists!=0">
    <div fxLayout="row" *ngIf="data.noteCheckLists!=0">
      <mat-icon fxFlex="10%">add</mat-icon>
      <input [(ngModel)]=data1 fxFlex="90%" class="checkboxInput" placeholder="List Item" (keydown.enter)="onEnter($event)"
        [ngStyle]="{'background-color':data.color}" [style.background-color]="bgColor" />
    </div>
    <hr *ngIf="data.noteCheckLists!=0">
    <!--------------------------------------------------------------------->
    <!--Checklist checked area-->
    <div class="note" *ngFor="let checklist of checkListItemArray" fxLayout="row">
      <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close' && !checklist.isDeleted" (click)="checkBox(checklist,data);toggle()"></mat-checkbox>
      <input *ngIf="checklist.status=='close' && !checklist.isDeleted" [(ngModel)]=checklist.itemName fxFlex="80%"
        class="note1" [ngStyle]="{'background-color':data.color}" [style.backgroundColor]="bgColor" (keyup)="editCard($event,checklist)">
      <mat-icon fxFlex="10%" *ngIf="checklist.status=='close' && !checklist.isDeleted" (click)="onDelete(checklist)"
        matTooltip="delete">cancel</mat-icon>
    </div>
    <!---------------------------------------------------------------------------------------------->
  </mat-card-content>


  <!--------------------------------------------------------------------------------------------------------->

  <!--Mat chip for labels-->
  <div fxLayout="row row wrap" *ngFor="let label of data.noteLabels">
    <mat-chip-list *ngIf="label.isDeleted==false">
      <mat-chip><span class="labelOverflow">{{label.label}}</span></mat-chip>
    </mat-chip-list>
  </div>


  <!--Mat chip for collaborators-->
  <div fxLayoutAlign="row" class="collaborators">
      <div *ngFor="let index of receiverArray" >
          <button mat-mini-fab color="accent" (click)="openDialog1(data)">
           {{index.email | titlecase | slice:0:1}}
          </button>
      </div>
  </div>




  <!--Mat chip for reminder-->
  <div *ngIf="data.reminder.length!=0">
    <div *ngFor="let reminder of reminderArray" fxLayout="row row wrap">
      <mat-chip-list>
        <mat-chip>
          {{reminder | date:'medium'}}
          <mat-icon (click)="$event.stopPropagation(); removeReminder(data.id)">
            cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div flexLayout="row" class="div3">
    <!--------------------------------------------------------------------------------------------------------->

    <!------------------------Reminder component starts----------------------------------->
    <app-reminder fxFlex="10%" [Noteid]=data (ReminderEmit)="reminderEvent($event)"></app-reminder>
    <!------------------------Reminder component ends----------------------------------->


    <!------------------------Collaborator component starts----------------------------------->
    <app-collaborator  [Noteid]=data fxFlex="10%" (collaboratorArray)="collaboratorEvent($event)"></app-collaborator>
    <!------------------------Collaborator component ends----------------------------------->


    <!------------------------Theme component starts----------------------------------->
    <app-theme fxFlex="10%" [Noteid]="data" (ColorChanged)="refresh($event)"></app-theme>
    <!------------------------Theme component ends----------------------------------->


    <!------------------------Image component starts----------------------------------->
    <app-image fxFlex="10%"></app-image>
    <!------------------------Image component ends----------------------------------->


    <!------------------------Post archive component starts----------------------------------->
    <app-post-archive fxFlex="10%" [Noteid]="data" (ArchiveClicked)="archive($event)"></app-post-archive>
    <!------------------------Post archive component ends----------------------------------->


    <!------------------------More component starts----------------------------------->
    <app-more fxFlex="10%" [Noteid]="data" (DeleteClicked)="delete($event)"></app-more>
    <!------------------------More component ends----------------------------------->
    <!------------------------------------------------------------------------------------------------>
    <!--Close button one is hidden an the other is shown-->
    <div fxFlex="40%" fxLayoutAlign="end">
      <button  mat-button class="editButton" *ngIf="data.noteCheckLists.length>0" (click)=" onNoClick();updatecard(false)">
        Close</button>
      <button  mat-button class="editButton" *ngIf="data.noteCheckLists.length==0" (click)=" onNoClick();updatecard(true)">
        Close</button>
    </div>
    <!------------------------------------------------------------------------------------------------>
  </div>


  <!-- </body> -->
</mat-card>