.body{
    border: 1px;
    border-radius: 20px;
  
}
.span{
    top: 10px;
    right: 0px;
    position: absolute;
}
.div2{

    outline: none;
    width: 605px;
    position: relative;
    padding-top: 10px;
}
div:empty:before {
    content:attr(data-text);
    color:gray
  }

.take_note{
    padding-top: 12px;
    padding-left: 14px;
    padding-bottom: 0px
}
.select_pin{
opacity: 0.5;
}
.deselect_pin{
opacity:0;
}
::ng-deep.mat-dialog-container {
   
    padding: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.editButton{
    float:right;
}
.editBody{
    padding:10px;
}
.editPin{
    float: right;
}
.div3{
    padding-bottom: 6px;
}
.note{
    border: transparent;
    border: none;
    outline:none;
}