<body [ngStyle]="{'background-color':data.color}" class="editBody"
  [style.background-color]="bgColor">

  <mat-card-header>
    <div data-text="Title" id="title" contenteditable="true" class="div2"
      [innerHTML]="data.title">
    </div>
    <button mat-icon-button (click)="pinned()" class="editPin">
      <img src="../../../assets/image/add10.svg">
    </button>
  </mat-card-header>

  <mat-card-content class="take_note">
    <div data-text="Take a note.." id="description" contenteditable="true"
      class="div2" [innerHTML]="data.description">
    </div>
  </mat-card-content>

  <div fxLayout="row row wrap" *ngFor="let label of data.noteLabels">
    <mat-chip-list *ngIf="label.isDeleted==false">
      <mat-chip>{{label.label}}</mat-chip>
    </mat-chip-list>
  </div>

  <div flexLayout="row" class="div3">
    <!------------------------Reminder component starts----------------------------------->
    <app-reminder></app-reminder>
    <!------------------------Reminder component ends----------------------------------->
    <!------------------------Collaborator component starts----------------------------------->
    <app-collaborator></app-collaborator>
    <!------------------------Collaborator component ends----------------------------------->
    <!------------------------Theme component starts----------------------------------->
    <app-theme [Noteid]="data" (ColorChanged)="refresh($event)"></app-theme>
    <!------------------------Theme component ends----------------------------------->
    <!------------------------Image component starts----------------------------------->
    <app-image></app-image>
    <!------------------------Image component ends----------------------------------->
    <!------------------------Post archive component starts----------------------------------->
    <app-post-archive [Noteid]="data" (ArchiveClicked)="archive($event)"></app-post-archive>
    <!------------------------Post archive component ends----------------------------------->
    <!------------------------More component starts----------------------------------->
    <app-more [Noteid]="data" (DeleteClicked)="delete($event)"></app-more>
    <!------------------------More component ends----------------------------------->

    <button mat-button class="editButton" (click)=" onNoClick();updatecard()">
      Close</button>
  </div>
</body>