.input >*{
    width: 100%;
}
.container3 {
  display: flex;
  flex-direction: column;
}
.B{
    color: #4285f4;
  }
  .R{
    color: #EA4335;
  }
  .Y{
    color: #EBBC05;
  }
  .G{
    color: #34A853;
  }
  .invalid-feedback2{
    font-size: 13px;
    color: black;
    
  }
  .invalid-feedback2 >* {
    font-size: 13px;
    color: black;
  }
  .paragraphForgetPassword{
    font-size:15px
  }
  .buttonForgotPassword{
    background-color:#0f5cd8; 
    color: white;
  }