@import "../../../scss/variable.scss";
@import "../../../scss/mixing.scss";
.input >*{
    width: $width;
}
.container3 {
  display: flex;
  flex-direction: column;
}
.B{
    color: $letterColorBlue;
  }
  .R{
    color: $letterColorRed;
  }
  .Y{
    color: $letterColorYellow;
  }
  .G{
    color: $letterColorGreen;
  }
  .invalid-feedback2{
    @include validationText;
    
  }
  .invalid-feedback2 >* {
    @include validationText;
  }
  .paragraphForgetPassword{
    font-size:15px;
  }
  .buttonForgotPassword{
    background-color:$buttonColorBlue; 
    color: $textColorWhite;
  }