<div fxLayout="column" fxLayoutGap.lg="10%" fxLayoutGap.md="0%" fxLayoutGap.sm="0%" fxLayoutGap.xs="0%">
  <div></div>
  <div fxLayout="row">
    <div fxFlex.lg=32% fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
    <div fxFlex.lg="36%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%">
       <mat-card>
          <div fxLayoutAlign="center">
              <h1>
                  <span class="B">F</span>
                  <span class="R">N</span>
                  <span class="Y">O</span>
                  <span class="B">T</span>
                  <span class="R">E</span>
                  <span class="G">S</span>
             </h1>
         </div>
         <div fxLayoutAlign="center">
            <p style="font-size:15px">Provide your email to retrieve your password</p>
        </div>
        <div>
          <form class="container3" [formGroup]="forgotPasswordForm">
            <div class="input">
                <mat-form-field>
                    <input  [(ngModel)]="model.email" formControlName="Email" matInput placeholder="Email id" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" >
                </mat-form-field>
            </div>
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback2">
              <mat-error *ngIf="f.Email.errors.required">Email required</mat-error>
              <mat-error *ngIf="f.Email.errors.email">[Provide a valid email xyz@abc.com]</mat-error>
            </div>
            <br>
            <div>
                <button (click)="mailSend()" mat-raised-button style="background-color:#0f5cd8; color: white">Send email</button>
            </div>  
          </form>
        </div>
       </mat-card>
    </div>
    <div fxFlex.lg="32%" fxFlex.md="5%" fxFlex.sm="0%" fxFlex.xs="0%"></div>
  </div>
  <div></div>
</div>
